In [1]:
1 + 1

2

In [2]:
a = [1,2,3,4,5]

In [3]:
合計/データ数

NameError: name '合計' is not defined

In [5]:
s = 0

s = s + 1
s = s + 2
s = s + 3
s = s + 4
s = s + 5

s

15

In [8]:
a = [1,2,3,4,5]

for p in a:
    print(p)

1
2
3
4
5

リストaの各要素をpと呼び、pをprintする。　　繰り返しの範囲がインデントで変わる。

In [11]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

In [12]:
a

[1, 2, 3, 4, 5]

In [14]:
s = 0

for x in a:
    s = s + x
    
s

15

In [15]:
a

[1, 2, 3, 4, 5]

In [17]:
s = 0

for x in a:
    s = s + x
    
s

s / len(a)

3.0

In [18]:
avg_tohoku = 0.0

for val in list_tohoku:
    avg_tohoku += val
    
avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

5340.333333333333

In [19]:
list_shikoku = [3148, 2991, 2966, 2457]

In [20]:
(3148 +  2991 + 2966 + 2457) / 4

2890.5

In [21]:
s = 0.0
for val in list_tohoku:
    s += val
s /= len(list_tohoku)

print(s)

5340.333333333333

In [22]:
(3148 +  2991 + 2966 + 2457) / 4

2890.5

In [23]:
list_shikoku = [3148, 2991, 2966, 2457]
s = 0
for x in list_shikoku:
    s += x

s / len(list_shikoku)

2890.5

In [24]:
from statistics import *

In [25]:
mean(list_shikoku)

2890.5

In [27]:
mean([1,2,3,4,5])

3

In [29]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}
for val in dict_tohoku:
    print(val)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [31]:
 for val in dict_tohoku:
        print(dict_tohoku[val])

5349
4644
5344
4968
6259
5478

In [32]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [33]:
s = 0


s / len(dict_tohoku)

0.0

In [34]:
s = 0 

for x in dict_tohoku:
    print(x)
    #s += x
    
s / len(dict_tohoku)

aomori
akita
sendai
Yamagata
fukushima
morioka

0.0

In [35]:
s = 0 

for x in dict_tohoku:
    print(dict_tohoku[x])
    s += dict_tohoku[x]
    
    
s / len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

1.　[5,4,3,2]の平均
2. {'A':10, 'B':100, 'C':1000}の値の平均
3. {10:'A', 100:'B', 1000:'C'}のキーの平均

In [40]:
a = [5,4,3,2]
s = 0
for x in a:
    s += x
s / len(a)

3.5

In [41]:
mean(a)

3.5

In [43]:
a = {'A':10, 'B':100, 'C':1000}
s = 0

for x in a:
    s += a[x]
    
s / len(a)

370.0

In [45]:
mean(a.values())

370

In [46]:
s = 0

for x in a.values():
    s += x

s / len(a)

370.0

In [47]:
a =  {10:'A', 100:'B', 1000:'C'}

s = 0

for x in a:
    s += x
    
s /len(a)

370.0

In [48]:
a.values()

dict_values(['A', 'B', 'C'])